.header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 0 0;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  .container{
    display: flex;
    align-items: center;
  }
  &-logo{
    //background: linear-gradient(88.93deg, rgba(74, 73, 73, 0.3) 12.64%, rgba(162, 157, 157, 0.3) 100.85%);
    //backdrop-filter: blur(22.5px);
    //border-radius: 15px;
    //padding: 29px 45px 24px 39px;
    margin-right: 100px;
    max-width: 264px;
  }
  &-info{
    display: flex;
    &__item{
      margin-right: 93px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    &__title{
      font-family: $BebasNeueBold;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 3px;
    }
    &__text{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #5B5B5B;
    }
  }
}
//.header{
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  width: 100%;
//  margin: 0 auto;
//  z-index: 2;
//  padding: 32px 0;
//  transition: all ease 300ms;
//  background: transparent;
//  &.header-page{
//    background: rgba(22, 24, 30, .9);
//  }
//  &.scroll-nav{
//    position: fixed;
//    padding: 15px 0;
//    background: rgba(22, 24, 30, .9);
//  }
//  .container{
//    display: flex;
//    align-items: center;
//  }
//  &-logo{
//    margin: 0 auto 0 0;
//    img{
//      transition: all ease 300ms;
//    }
//  }
//  &-nav{
//    margin: 0 auto;
//    ul{
//      display: flex;
//      align-items: center;
//    }
//    li{
//      margin-right: 45px;
//    }
//    a{
//      font-weight: 700;
//      font-size: 14px;
//      line-height: 16px;
//      color: #FFFFFF;
//      &:hover, &.active{
//        color: rgba(255,255,255, .7);
//      }
//    }
//  }
//  &-lang{
//    margin: 0 0 0 34px;
//    padding-right: 16px;
//    position: relative;
//    cursor: pointer;
//    &.active{
//      ul{
//        opacity: 1;
//        visibility: visible;
//      }
//    }
//    &:after{
//      position: absolute;
//      content: '';
//      right: 0;
//      top: 50%;
//      margin-top: -3px;
//      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5' fill='none'%3E%3Cpath d='M1 0.5L5 4.5L9 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
//      background-repeat: no-repeat;
//      width: 10px;
//      height: 6px;
//    }
//    span, a{
//      font-weight: 700;
//      font-size: 14px;
//      line-height: 17px;
//      color: #FFFFFF;
//    }
//    a{
//      &:hover{
//        color: #246BFD;
//      }
//    }
//    ul{
//      position: absolute;
//      top: 100%;
//      opacity: 0;
//      visibility: hidden;
//      z-index: -1;
//    }
//  }
//  &.active{
//    position: fixed;
//    background: rgba(22, 24, 30, .9);
//    .header-nav{
//      visibility: visible;
//      z-index: 2;
//      left: 0;
//      width: 100%;
//      opacity: 1;
//    }
//    .header-buttons{
//      z-index: 2;
//      width: 100%;
//      opacity: 1;
//      visibility: visible;
//      padding: 0 15px 25px;
//    }
//  }
//}
//.header-btn{
//  margin: 0;
//  display: none;
//  width: 32px;
//  height: 22px;
//  position: relative;
//  &:before, &:after, span{
//    position: absolute;
//    background: #fff;
//    height: 2px;
//    right: 0;
//    transition: all ease 300ms;
//  }
//  &:before,
//  &:after{
//    content: '';
//  }
//  &:before{
//    width: 24px;
//    top: 0;
//  }
//  &:after{
//    width: 18px;
//    top: calc(100% - 2px);
//  }
//  span{
//    width: 30px;
//    top: 50%;
//    margin-top: -1px;
//  }
//  &.active{
//    &:before,
//    &:after{
//      content: '';
//      width: 100%;
//      top: 50%;
//      margin-top: -2px;
//    }
//    span{
//      opacity: 0;
//    }
//    &:before{
//      transform: rotate(45deg);
//    }
//    &:after{
//      transform: rotate(-45deg);
//    }
//  }
//}
//.text-page{
//  padding: 150px 0 100px;
//  background: #16181E;
//  color: #fff;
//  .title-section{
//    margin-bottom: 30px;
//  }
//  .text-wrap{
//    p{
//      font-size: 16px;
//      line-height: 20px;
//      font-weight: 400;
//      margin-bottom: 20px;
//    }
//  }
//}