.hero{
  padding: 150px 0 100px;
  min-height: 100vh;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  &-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container{
    height: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
  }
  &-info{
    width: 50%;
  }
  &-wrap{
    max-width: 600px;
  }
  &-media{
    position: absolute;
    z-index: 3;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    left: auto;
    right: 230px;
    top: -60px;
    .hero-svg{
      position: absolute;
      left: 0;
      bottom: -100px;
      right: 0;
      margin: 0 auto;
    }
    &__info{
      position: absolute;
      top: 410px;
      right: 100px;
      z-index: -1;
      max-width: 252px;
      padding: 43px 23px 32px;
      background: linear-gradient(88.93deg, rgba(74, 73, 73, 0.3) 12.64%, rgba(162, 157, 157, 0.3) 100.85%);
      backdrop-filter: blur(22.5px);
      border-radius: 15px;
      border: 2px solid #363636;
      &:before{
        position: absolute;
        content: '';
        left: 30px;
        top: -18px;
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6538 2.01214C18.3535 1.16963 19.6465 1.16963 20.3462 2.01215L22.07 4.08753C22.6546 4.79144 23.6073 5.07118 24.4797 4.79509L27.0518 3.98108C28.096 3.65064 29.1837 4.34965 29.3168 5.43673L29.6449 8.11457C29.7562 9.02282 30.4064 9.77322 31.2896 10.0126L33.8935 10.7184C34.9505 11.005 35.4876 12.181 35.0119 13.1676L33.8402 15.5977C33.4427 16.4219 33.584 17.4047 34.1976 18.0836L36.0065 20.0851C36.7409 20.8976 36.5569 22.1774 35.6234 22.7501L33.3238 24.161C32.5438 24.6395 32.1314 25.5427 32.2805 26.4455L32.7201 29.1073C32.8986 30.1878 32.0519 31.165 30.957 31.1421L28.2597 31.0857C27.3449 31.0666 26.5096 31.6034 26.1469 32.4435L25.0777 34.9205C24.6437 35.926 23.4031 36.2902 22.4943 35.679L20.2557 34.1733C19.4965 33.6626 18.5035 33.6626 17.7443 34.1733L15.5057 35.679C14.5969 36.2902 13.3563 35.926 12.9223 34.9205L11.8531 32.4435C11.4904 31.6034 10.6551 31.0666 9.7403 31.0857L7.04302 31.1421C5.94805 31.165 5.10136 30.1878 5.27985 29.1073L5.71952 26.4455C5.86864 25.5427 5.45617 24.6395 4.67622 24.161L2.37664 22.7501C1.44312 22.1774 1.25912 20.8976 1.99347 20.0851L3.80242 18.0836C4.41596 17.4047 4.55727 16.4219 4.15984 15.5977L2.98806 13.1676C2.51238 12.181 3.04948 11.005 4.10654 10.7184L6.71044 10.0126C7.59361 9.77322 8.24384 9.02282 8.3551 8.11457L8.68316 5.43673C8.81633 4.34965 9.90402 3.65064 10.9482 3.98108L13.5203 4.79509C14.3927 5.07118 15.3454 4.79144 15.93 4.08753L17.6538 2.01214Z' fill='url(%23paint0_linear_306_2)' stroke='url(%23paint1_linear_306_2)' stroke-width='0.5'/%3E%3Cpath d='M24 16L17.8125 22L15 19.2727' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_306_2' x1='27' y1='3.50001' x2='-17.5888' y2='11.5821' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234324FF'/%3E%3Cstop offset='1' stop-color='%232A179F'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_306_2' x1='30' y1='5.5' x2='11.5' y2='36' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D42FD'/%3E%3Cstop offset='1' stop-color='%23442FC8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 38px;
        height: 38px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &__title{
      font-family: $BebasNeueBold;
      font-style: normal;
      font-weight: 700;
      font-size: 37px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 16px;
    }
    &__text{
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
  &-left-bg{
    position: absolute;
    bottom: -420px;
    z-index: 4;
    right: 0;
    overflow: hidden;
    img{
      position: relative;
      right: -60px;
    }
  }
  &-button{
    display: flex;
    align-items: center;

    .btn-primary{
      margin-right: 21px;
    }
  }
  &-title{
    font-family: $BebasNeueBold;
    font-weight: 700;
    font-size: 130px;
    line-height: 120px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 504px;
    margin-bottom: 23px;
    span{
      color: #4324FF;
    }
  }
  &-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    max-width: 520px;
    padding-left: 100px;
    margin-bottom: 70px;
    b{
      font-weight: 600;
    }
    &:after{
      position: absolute;
      content: '';
      left: 0;
      top: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='69' height='8' viewBox='0 0 69 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.3536 4.35355C68.5488 4.15829 68.5488 3.84171 68.3536 3.64645L65.1716 0.464466C64.9763 0.269204 64.6597 0.269204 64.4645 0.464466C64.2692 0.659728 64.2692 0.976311 64.4645 1.17157L67.2929 4L64.4645 6.82843C64.2692 7.02369 64.2692 7.34027 64.4645 7.53553C64.6597 7.7308 64.9763 7.7308 65.1716 7.53553L68.3536 4.35355ZM0 4.5H68V3.5H0V4.5Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      width: 68px;
      height: 8px;
    }
  }
  &-link{
    ul{
      display: flex;
    }
    li{
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}
.why{
  position: relative;
  z-index: 10;
  .title-section{
    margin-bottom: 70px;
    .white{
      padding-left: 100px;
    }
  }
  &-item{
    position: relative;
    .btn-radial{
      background: #4324FF;
      border: 1px solid #5C42FF;
      border-radius: 150px;
      padding: 23px 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 40px;

    }
    &__numb{
      position: absolute;
      left: -100px;
      top: 0;
      font-family: $BebasNeueBold;
      font-style: normal;
      font-weight: 700;
      font-size: 204px;
      line-height: 204px;
      text-transform: uppercase;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    &__title{
      font-family: $BebasNeueBold;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 54px;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 611px  ;
      margin-bottom: 35px;
      span{
        display: block;
        color: #4324FF;

      }
    }
    &__text{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      max-width: 390px;
      padding-left: 100px;
    }
  }
}
.about{
  padding: 0;
  &-item{
    background: #1B1F28;
    padding: 100px 0 0;
    overflow: hidden;
    position: relative;
    &:nth-of-type(1){
      z-index: 1;
    }
    &:nth-of-type(2){
      z-index: 2;
    }
    &:nth-of-type(3){
      z-index: 3;
    }
    &:nth-of-type(4){
      z-index: 4;
    }
    .container{
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      .about-item__media{
        text-align: left;
      }
    }
    &:nth-of-type(2n+1){
      background: #16181E;
      .container{
        display: flex;
        flex-direction: row;
      }
      .about-item__media{
        text-align: right;
      }
    }
    &__desc{
      width: 50%;
    }
    &__title{
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    &__text{
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
      color: #FFFFFF;
    }
    &__media{
      width: 50%;
      margin-bottom: -5px;
      img{
        display: inline-block;
      }
    }
  }
}
.reviews{
  background: #16181E;
  padding: 150px 0 140px;
  .title-section{
    margin-bottom: 37px;
  }
  &-wrap{
    position: relative;
  }
  &-slider{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &-item{
    border-radius: 8px;
    width: calc(33.333% - 30px);
    margin: 0 15px 30px;
    img{
      width: 100%;
      border-radius: inherit;
    }
  }
  .prev, .next{
    display: none;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    margin-top: -15px;
    padding: 6px 0 0 0;
    background: rgba(36, 107, 253, .6);
    opacity: 0.6;
    .icon{
      width: 16px;
      height: 16px;
      stroke: #fff;
      fill: transparent;
    }
  }
  .prev{
    left: -15px;
    border-radius: 0px 4px 4px 0px;
  }
  .next{
    right: -15px;
    border-radius: 4px 0px  0px 4px;
  }
  .btn-primary{
    padding: 20px 56px;
  }
}
.contacts{
  padding: 150px 0;
  background-attachment: fixed;
  background-size: cover;
  .container{
    display: flex;
  }
  &-desc{
    width: 50%;
    .title-section{
      margin-bottom: 25px;
    }
    .text-section{
      font-weight: 500;
      font-size: 20px;
      line-height: 37px;
      color: #FFFFFF;
      max-width: 525px;
    }
  }
  &-form{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    form{}
    label{
      position: relative;
      display: block;
      width: 470px;
      margin-bottom: 30px;
    }
    .icon{
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #fff;
      width: 32px;
      height: 32px;
    }
    input, textarea{
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0 15px 30px 51px;
      &::placeholder{
        color: #FFFFFF;
      }
    }
    .btn-primary{
      padding: 20px 43px;
    }
  }
}
.gallery{
  background: #16181E;
  padding: 150px 0;
  .title-section{
    margin-bottom: 40px;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 70px;
    max-width: 1600px;
  }
  &-item{
    width: 25%;
    margin: 0 0 30px;
    padding: 0 15px;
    img{
      width: 100%;
    }
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subtitle-section{
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    color: #FFFFFF;
    width: 50%;
    max-width: 525px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      right: -50%;
      top: 50%;
      margin-top: -12px;
      background-image: url("data:image/svg+xml,%3Csvg width='222' height='24' viewBox='0 0 222 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M221.561 13.0607C222.146 12.4749 222.146 11.5251 221.561 10.9393L212.015 1.3934C211.429 0.807611 210.479 0.807611 209.893 1.3934C209.308 1.97919 209.308 2.92893 209.893 3.51472L218.379 12L209.893 20.4853C209.308 21.0711 209.308 22.0208 209.893 22.6066C210.479 23.1924 211.429 23.1924 212.015 22.6066L221.561 13.0607ZM0 13.5H220.5V10.5H0V13.5Z' fill='%23246BFD'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      width: 222px;
      height: 24px;
    }
  }
  .social-link{
    ul{
      display: flex;
    }
    li{
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a{
      &:hover{
        opacity: .9;
      }
    }
  }
}